In [17]:
import numpy as np 
import pandas as pd 

string_data = pd.Series(['aardvark','artichoke', np.nan, 'avocado'])
string_data

string_data.isnull()

string_data[0]=None
string_data.isnull()
#누락된 데이터 골라내기

from numpy import nan as NA
data = pd.Series([1,NA,3.5,NA,7])
data.dropna() #누락된 데이터가있는 축(로우, 칼럼)을 제외
data[data.notnull()]

data = pd.DataFrame([[1.,6.5,3.],[1.,NA,NA],[NA,NA,NA],[NA,6.5,3.]])
data
cleaned

     0    1    2
0  1.0  6.5  3.0