In [1]:
data = [[1,2,3,4,5,6,7],
[10,21,32,43,54,65,76],
[0,1,0,0,1,1,1],
[-1,-20,-35,-46,-57,-66,-77]]

data

[[1, 2, 3, 4, 5, 6, 7],
 [10, 21, 32, 43, 54, 65, 76],
 [0, 1, 0, 0, 1, 1, 1],
 [-1, -20, -35, -46, -57, -66, -77]]

In [4]:
df=pd.DataFrame(data).T

In [5]:
df

   0   1  2   3
0  1  10  0  -1
1  2  21  1 -20
2  3  32  0 -35
3  4  43  0 -46
4  5  54  1 -57
5  6  65  1 -66
6  7  76  1 -77

In [6]:
mycorr =df.corr(method='pearson')
mycorr

          0         1         2         3
0  1.000000  1.000000  0.577350 -0.991775
1  1.000000  1.000000  0.577350 -0.991775
2  0.577350  0.577350  1.000000 -0.555859
3 -0.991775 -0.991775 -0.555859  1.000000

In [23]:
rawdata=pd.read_excel("데이터분석실습데이터/2012년.xls", index_col=0)
rawdata

           1월  2월    3월    4월    5월    6월  7월    8월  9월   10월   11월   12월
분류
공용관리비    1204   0  1190  1071  1064  1145   0  1114   0  1112  1108  1160
일반관리비     409   0   404   380   375   418   0   405   0   408   403   417
인건비       386   0   377   353   347   383   0   383   0   385   381   383
급여          0   0     0     0     0     0   0     0   0     0     0     0
제수당         0   0     0     0     0     0   0     0   0     0     0     0
...       ...  ..   ...   ...   ...   ...  ..   ...  ..   ...   ...   ...
월사용액        0   0     0     0     0     0   0     0   0     0     0     0
충당금잔액       0   0     0     0     0     0   0     0   0     0     0     0
적립요율(%)     1   0     1     1     1     1   0     1   0     1     1     1
합계       3229   0  2888  2231  1494  1555   0  1560   0  1848  2529  3442
잡수입        26   0  1028   915    20    78   0    17   0    27    28    45

[70 rows x 12 columns]

In [24]:
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 공용관리비 to 잡수입
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1월      70 non-null     int64
 1   2월      70 non-null     int64
 2   3월      70 non-null     int64
 3   4월      70 non-null     int64
 4   5월      70 non-null     int64
 5   6월      70 non-null     int64
 6   7월      70 non-null     int64
 7   8월      70 non-null     int64
 8   9월      70 non-null     int64
 9   10월     70 non-null     int64
 10  11월     70 non-null     int64
 11  12월     70 non-null     int64
dtypes: int64(12)
memory usage: 7.1+ KB

In [29]:
rawdata.index

Index(['공용관리비', '일반관리비', '인건비', '급여', '제수당', '상여금', '퇴직금', '산재보험료', '고용보험료',
       '국민연금', '건강보험료', '식대등복리후생비', '제사무비', '일반사무용품비', '도서인쇄비', '여비교통비',
       '제세공과금', '공과금중전기료', '통신료', '우편료', '제세공과금등', '피복비', '교육훈련비', '차량유지비',
       '연료비', '수리비', '보험료', '기타차량유지비', '그밖의부대비용', '관리용품구입비', '전문가자문비등', '잡비',
       '청소비', '경비비', '소독비', '승강기유지비', '지능형홈네트워크설비유지비', '수선유지비', '수선비', '시설유지비',
       '안전점검비', '재해예방비', '위탁관리수수료', '개별사용료', '난방비', '난방공용', '난방전용', '급탕비',
       '급탕공용', '급탕전용', '가스사용료', '가스공용', '가스전용', '전기료', '전기공용', '전기전용', '수도료',
       '수도공용', '수도전용', '정화조오물수수료', '생활폐기물수수료', '입주자대표회의운영비', '건물보험료',
       '선거관리위원회운영비', '장기수선충당금월부과액', '월사용액', '충당금잔액', '적립요율(%)', '합계', '잡수입'],
      dtype='object', name='분류')

In [1]:
pieces = []
for year in range(2012,2020):
    frame = pd.read_excel('데이터분석실습데이터/%d년.xls' %year , index_col=0)
    frame = frame.T
    pieces.append(freme)
df = pd.concat(pieces, ignore_index = True)

NameError: name 'freme' is not defined