In [14]:
import pandas as pd 
import numpy as np 
from datetime import datetime

# pd.date_range(datetime.today(), periods=10).tolist()
# d = pd.date_range(start='2020-01-01', end='2020-01-10')
d = ['2020101','2020101','2020101','2020102','2020102','2020102','2020102','2020103','2020103']
col1 = ['a','b','c','a','b','c','a','b','d']
col2 = [1,2,3,1,2,3,1,2,3]
data = {'date':d, 'col1':col1, 'col2':col2}

df = pd.DataFrame(data)
df.pivot_table(index='date', columns='col1', values='col2')

col1       a    b    c    d
date
2020101  1.0  2.0  3.0  NaN
2020102  1.0  2.0  3.0  NaN
2020103  NaN  2.0  NaN  3.0

In [18]:
import pandas as pandas
import numpy as np 

df = pd.read_excel("/python_Pjt/DataScience-master/data/02. sales-funnel.xlsx")
df.index 
df.head()
pd.pivot_table(df, index=["Manager","Rep","Product"], values=["Price","Quantity"], aggfunc=[np.sum, np.mean],fill_value=0,margins=True)

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

In [22]:
crime_anal_raw= pd.read_csv("/python_Pjt/DataScience-master/data/02. crime_in_Seoul_include_gu_name.csv", encoding='utf-8')
crime_anal_raw

,Unnamed: 0,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구
5,5,용산서,5,5,14,14,194,173,1557,587,2050,1704,용산구
6,6,성북서,2,2,2,1,86,71,953,409,1194,1015,성북구
7,7,동대문서,5,5,13,13,173,146,1981,814,2548,2227,동대문구
8,8,마포서,8,8,14,10,294,247,2555,813,2983,2519,마포구
9,9,영등포서,14,12,22,20,295,183,2964,978,3572,2961,영등포구
10,10,성동서,4,4,9,8,126,119,1607,597,1612,1395,성동구
11,11,동작서,5,5,9,5,285,139,1865,661,1910,1587,동작구
12,12,광진서,4,4,14,26,240,220,3026,1277,2625,2180,광진구
13,13,서부서,2,2,2,1,70,59,819,293,1192,1038,은평구
14,14,강북서,7,8,14,13,153,126,1434,618,2649,2348,강북구
15,15,금천서,3,4,6,6,151,122,1567,888,2054,1776,금천구
16,16,중랑서,13,12,11,9,187,148,2135,829,2847,2407,중랑구
17,17,강남서,3,3,15,12,300,225,2411,984,2465,2146,강남구
18,18,관악서,9,8,12,14,320,221,2706,827,3298,2642,관악구
19,19,강서서,7,8,13,13,262,191,2096,1260,3207,2718,양천구
20,20,강동서,4,3,6,8,156,123,2366,789,2712,2248,강동구
21,21,종암서,3,3,3,3,64,53,832,332,1015,840,성북구
22,22,구로서,8,6,15,11,281,164,2335,889,3007,2432,구로구
23,23,서초서,7,4,8,5,334,193,1982,905,1852,1607,서초구
24,24,양천서,3,5,6,3,120,105,1890,672,2509,2030,양천구
25,25,송파서,11,10,13,10,220,178,3239,1129,3295,2786,송파구
26,26,노원서,10,10,7,7,197,121,2193,801,2723,2329,노원구
27,27,방배서,1,2,1,1,59,56,653,186,547,491,서초구
28,28,은평서,1,1,7,5,96,82,1095,418,1461,1268,은평구
29,29,도봉서,3,3,9,10,102,106,1063,478,1487,1303,도봉구
30,30,수서서,10,7,6,6,149,124,1439,666,1819,1559,강남구

In [26]:
df2 = pd.DataFrame({'foo':['one','one','one','two','two','two','two'], 'bar':['A','B','C','A','B','C','D'],'baz': [1,2,3,4,5,6,7],'zoo':['x','y','z','q','w','t','s']})
df2.pivot(index='foo', columns='bar', values='baz')

bar    A    B    C    D
foo
one  1.0  2.0  3.0  NaN
two  4.0  5.0  6.0  7.0

In [28]:
df3 = pd.DataFrame({'foo':['one','one','two','two'], 'bar':['A','B','B','C'],'baz': [1,2,3,4]})
df3.pivot(index='foo',columns='bar', values='baz')

bar    A    B    C
foo
one  1.0  2.0  NaN
two  NaN  3.0  4.0

In [33]:
df4 = pd.DataFrame(
    {'col1' : [100,87,92,10,20],
    'col2' : [30,29,20,30,100], 
    'col3': [89,20,3,2,50]}
)
from sklearn import preprocessing

cols = ['col1','col2','col3']
df5 = df4[cols].values
min_max_scaler = preprocessing.MinMaxScaler()
x_data = min_max_scaler.fit_transform(df5.astype(float))
x_data.shape
df6 = pd.DataFrame(x_data)
df5

array([[100,  30,  89],
       [ 87,  29,  20],
       [ 92,  20,   3],
       [ 10,  30,   2],
       [ 20, 100,  50]], dtype=int64)