In [3]:
import numpy as np
import pandas as pd
import requests
import json

url_stores = "https://8oi9s0nnth.apigw.ntruss.com/corona19-masks/v1/stores/json"
url_sales = "https://8oi9s0nnth.apigw.ntruss.com/corona19-masks/v1/sales/json?page=1"
json_stores = requests.get(url_stores).json()
json_sales = requests.get(url_sales).json()
#json_stores
#json_sales

In [12]:
data_stores = []
size_stores = len(json_stores['storeInfos'])
for inx in range(size_stores):
    # print(json_stores['storeInfos'][inx]['code'], json_stores['storeInfos'][inx]['name'])
    code, name = json_stores['storeInfos'][inx]['code'], json_stores['storeInfos'][inx]['name']
    data_stores.append([code, name])
df_stores = pd.DataFrame(data_stores, columns=['code','name'])
df_stores.shape
df_stores

           code          name
0      34840559          신신약국
1      37844571       밝은온누리약국
2      34833323          지애약국
3    5038300744       고령쌍림우체국
4      21839824         굿모닝약국
..          ...           ...
482  6198200983  곤명농협하나로마트완사점
483    21824916       수안메디컬약국
484    41840259          이화약국
485    31831931         푸른솔약국
486    31834060        포도나무약국

[487 rows x 2 columns]

In [18]:
data_sales = []
size_sales = len(json_sales['sales'])
for inx in range(size_sales):
    # print(json_sales['sales'][inx]['code'],json_sales['sales'][inx]['remain_stat'])
    code, remain_stat = json_sales['sales'][inx]['code'],json_sales['sales'][inx]['remain_stat']
    data_sales.append([code, remain_stat])

df_sales = pd.DataFrame(data_sales, columns=['code','remain_stat']) 
df_sales.head()  
df_stores.head() 
df = pd.merge(df_stores, df_sales, on='code')
df.head()

       code    name remain_stat
0  37811461   대학당약국      plenty
1  31896359    이화약국      plenty
2  31863515  100세약국      plenty
3  38810859    예은약국      plenty
4  41812816  능동키즈약국      plenty