트레이닝데이터 => 알고리즘(ML,DL)->모델 ->예측결과 출력

In [9]:
train =pd.read_csv("/python_Pjt/titanic/train.csv")
test =pd.read_csv("/python_Pjt/titanic/test.csv")
train.shape #891,12
test.shape #418,11
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
submission = pd.read_csv("titanic/gender_submission.csv")
submission

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [11]:
train =pd.read_csv("/python_Pjt/titanic/train.csv")
test =pd.read_csv("/python_Pjt/titanic/test.csv")

train.describe() #기술통계

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [16]:
# train성별에 따른 생존율 출력
train.groupby('Sex')['Survived'].mean()
train.pivot_table(index=['Sex'], values=['Survived'], aggfunc=np.mean)

        Survived
Sex
female  0.742038
male    0.188908

In [18]:
train.pivot_table(index=['Sex'], values=['Survived'])
train.pivot_table(index=['Sex'])

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
Sex,,,,,,,
female,27.915709,44.479818,0.649682,431.028662,2.159236,0.694268,0.742038
male,30.726645,25.523893,0.235702,454.147314,2.389948,0.429809,0.188908

In [20]:
train.groupby('Sex')['Survived'].describe()

        count      mean       std  min  25%  50%  75%  max
Sex
female  314.0  0.742038  0.438211  0.0  0.0  1.0  1.0  1.0
male    577.0  0.188908  0.391775  0.0  0.0  0.0  0.0  1.0

In [34]:
#성별과 선실등급별 생존율
train.groupby(['Sex','Pclass'])['Survived'].mean()
train.pivot_table('Survived',index=['Sex','Pclass'], aggfunc=np.mean)

               Survived
Sex    Pclass
female 1       0.968085
       2       0.921053
       3       0.500000
male   1       0.368852
       2       0.157407
       3       0.135447

In [38]:
#모델링 ㅋㅋ
test['Survived'] = test.Sex=='female'

In [43]:
test.head()
test['Survived'].value_counts()
submission = test[['PassengerId','Survived']].copy()
submission.head()

   PassengerId  Survived
0          892     False
1          893      True
2          894     False
3          895     False
4          896      True

In [46]:
submission['Survived']=submission['Survived'].astype(int)
submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [48]:
submission.to_csv('submission.csv',index=False)